body{
	background-color: #ddd;
}

.titulo-git{
	text-align: center;
}

.git-container{
	padding: 10px;
	width: 80%;
	margin: 20px auto;
	display:flex;
}

.git-bloques{
	flex-basis: 50%;
	padding: 20px;
	font-size: 15px;
	transition: all 0.5s;
}

.git-subtitle{
	text-align: center;
	border-bottom: 3px solid #777;
}

.git-parrafo{
	text-align: justify;
}